html {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto Slab", serif;
}

/*HEADER SECTION*/
/*Navbar*/
nav.navbar.navbar-expand-lg {
  height: 100px;
  width: 100%;
  z-index: 10;
}

.navbar,
.navbar-brand {
  background-color: #14223d;
  font-family: "Roboto Slab", serif;
}

a.navbar-brand,
.link-zerotojunior {
  color: white;
}

a.nav-link.active {
  --bs-navbar-active-color: white;
}

.link-zerotojunior:hover {
  color: #fca310;
}

a.nav-link.active:hover,
button.btn.btn-lg:hover,
a.btn-link:hover {
  color: #fca310;
  text-decoration: underline wavy red;
}

nav.navbar {
  --bs-navbar-color: white;
}

/*buttons*/
button.btn.btn-lg {
  --bs-btn-color: white;
  --bs-btn-bg: #fca310;
}

a.btn-link {
  background-color: #fca310;
  border-radius: 10px;
  padding: 5px 30px;
  color: white;
  font-size: 2vh;
}
a.btn-link:hover {
  color: #fca310;
  background-color: #14223d;
}
a.btn-link:link {
  text-decoration: none;
}
#gallery {
  display: block;
  margin: auto;
  background-image: url("/pages/Contact/contact-us.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 95vh;
  position: relative;
}

.contact-us {
  position: absolute;
  left: 40vw;
  top: 20vw;
  transition-property: transform;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

.contact-us:is(:hover, :focus) {
  transform: translateY(-2px);
}
