html {
    min-height: 100%;
    overflow-y: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    min-height: 100%;

}

main {
    font-family: 'Roboto Slab', serif;
    display: grid;
    grid-template-columns: 55% 45%;
    background-color: #85cedc;
    color: white;
}

.navbar, .navbar-brand {
    background-color: #fad259;
    font-family: 'Roboto Slab', serif;

}

a.navbar-brand, .link-zerotojunior {
    color:white;
}

a.nav-link.active {
    --bs-navbar-active-color: white;
}

.link-zerotojunior:hover {
    color: #85cedc;
}
a.nav-link.active:hover, button.btn.btn-lg:hover{
    color: #85cedc;
}

nav.navbar {
    --bs-navbar-color: white;
}

button.btn.btn-lg{
    --bs-btn-color: white;
    --bs-btn-bg:#85cedc;

}


button.btn.log-in.btn-lg {
    --bs-btn-bg:#fad259;
    position: relative;
    top: 50%;
    margin-left: 20px;
}

button.btn.log-in.btn-lg:hover {
    color: #85cedc;
    background-color:#fad259;
}

#title {
    /*display: block;*/
    position: relative;
    top: 50%;
    padding-left: 20px;
}

.pic-world-map{
    width: 100%;
    height: 100%;
}

footer{
    text-align: right;
    padding-top: 50px;
    background-color: #85cedc;
    color: white;
    font-size: 12px;
}






